@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand&display=swap');

body {
    background-color: #F9FAFC;
    font-family: 'Quicksand', sans-serif;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

/* navigation & logo */

.brand-logo {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.brand-slogan {
    display: flex;
    color: #C3D2E4;
    align-items: center;
}

/* blog post list cards */

.card a {
    border: none;
    background-color: #C3D2E4
}

.card-title {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: #445261;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

/* blog post article */

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #F9FAFC;
    color: #F9FAFC;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

/* links and buttons */

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* footer */

footer {
    color:#C3D2E4;
}

.social-icons a {
    color: red;
}

/* media queries */

/* small devices (mobile phones, less than 576px) */
/* medium devices (tablets, less than 768px) */
/* large devices (laptops, less than 992px) */
/* extra large devices (desktops, less than 1200px) */
