@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', sans-serif;
}

/* navigation */

/* background colors */

/* post-list card */

/* post content */

/* links and buttons */

/* footer */

footer a {
    color: white;
    justify-content: center;
    align-items: center;
}

footer li {
    margin: 0 10px 10px;
}

 footer li a:hover i {
     color: white;
     transform: rotate(-15deg) scale(1.3);
 }

footer {
    background-color: #0074d0;
    width: 100%;
}



/* media queries */

/* small devices (mobile phones, less than 576px) */
/* medium devices (tablets, less than 768px) */
/* large devices (laptops, less than 992px) */
/* extra large devices (desktops, less than 1200px) */
