{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <!-- climb blog summary card -->
    <div class="container">
        <div class="row g-0 summary-card">
            <!-- image display, placeholder if none in database -->
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in climb.featured_image.url %}
                <img class="img-responsive" alt="A picture of a road across mountains."
                    src="../static/images/road_in_peak_district.jpeg">
                {% else %}
                <img class="img-responsive" alt="A picture of the featured climb."
                    src=" {{ climb.featured_image.url }}">
                {% endif %}
            </div>
            <div class="col-md-6 masthead-text p-4">
                <h2 class="climb-title">{{ climb.title }}</h2>
                <p class="card-text">
                    <i class="fa-solid fa-bolt"></i>
                    {{ climb.get_climb_difficulty_display }}</p>
                <p class="card-text">
                    <i class="fa-solid fa-road"></i> 
                    {{ climb.get_climb_surface_display }}
                </p>
                <p class="card-text">
                    <i class="fa-solid fa-tape"></i> 
                    {{ climb.climb_length }} miles</p>
                <p class="card-text">
                    <i class="fa-solid fa-mountain"></i> 
                    {{ climb.climb_elevation_gain }} m</p>
                <p class="climb-date">
                    {{ climb.author }} | {{ climb.created_on }}
                </p>
                {% if user.is_authenticated %}
                <div class="mt-2">
                    <span>I LIKE THIS RIDE:</span>
                    <form class="d-inline" action="{% url 'post_like' climb.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="blogpost_id" value="{{climb.slug}}"
                            class="btn-like-comment no-border"><i class="fa-solid fa-heart"></i></button>
                        {% else %}
                        <button type="submit" name="blogpost_id" value="{{climb.slug}}"
                            class="btn-like-comment no-border"><i class="fa-regular fa-heart"></i></button>
                        {% endif %}
                    </form>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
<hr>
<!-- climb content -->
<div class="container">
    <div class="row">
        <div class="col mb-2">
            <div class="card-body">
                <div class="card-text">{{ climb.content | safe }}</div>
                <small>Source: Pedalsure and Cyclinguphill.</small>
                <div>
                    <!-- climb likes counter -->
                    <div class="mt-2">
                        <span>TOTAL CLIMB LIKES:</span>
                        <span class="btn-like-comment no-border"><i class="fa-solid fa-heart"></i></span>
                        <span>{{ climb.number_of_likes }} </span>
                    </div>
                    <!-- climb comments count -->
                    <div>
                        <span>TOTAL CLIMB CONTRIBUTERS:</span>
                        {% with comments.count as total_comments %}
                        <span class="btn-like-comment m-1"><i class="fa-solid fa-comment m-1"></i> {{ total_comments }}</span>
                        {% endwith %}
                    </div>
                </div>
                <div class="mt-2">
                    <a class="btn btn-signup" href="{% url 'home' %}">Go Back</a>
                </div>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- comments section -->
    <div class="container">
        <div class="row">
            <div class="card-container col-lg-8 mb-4 mt-3">
                <h3>Climb Contributions:</h3>
                <div>
                    <!-- if there is at least one comment -->
                    {% if comments %}
                    <!-- for loop to iterate through comments -->
                    {% for comment in comments %}
                    <div class="comments">
                        <!-- body of the comment -->
                        <div>
                            {{ comment.body | linebreaksbr }}
                        </div>
                        <div>
                            <p class="font-weight-bold">Time: <span>{{ comment.time }}</span></p>
                            <p class="mt-1">
                                <i class="fa-solid fa-user pr-1"></i> {{ comment.name }}
                                on <span>{{ comment.created_on }}</span>
                            </p>
                        </div>
                        <div>
                            {% if comment.name == request.user.username %}
                            <div class="col-sm mt-1">
                                <a class="btn btn-signup btn-sm"
                                    href="{% url 'edit_ride' climb.slug comment.pk %}">Edit</a>
                                <a class="btn btn-signup btn-sm"
                                    href="{% url 'delete_ride' climb.slug comment.pk %}">Delete</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <!-- end of loop -->
                    {% endfor %}
                    <!-- else, if there is no comment -->
                    {% else %}
                    <p>Be the first to add your climb stats here!</p>
                    {% if not user.is_authenticated %}
                    <p>To add your own climb stats to this post, <a class="link" href="{% url 'account_login' %}">log in</a> to our site!
                        <br> If you
                        have not registered an account, please <a class="link"
                            href="{% url 'account_signup' %}">register</a>
                        here.
                    </p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="card-container col-lg-4 mb-4 mt-3 ">
                {% if user.is_authenticated %}
                <!-- comment form -->
                <h3>Leave your climb stats here:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-md mt-2">Submit</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}