{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- blog climb entries -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for climb in climb_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <a href="{% url 'climb_detail' climb.slug %}">
                                {% if "placeholder" in climb.featured_image.url %}
                                <img class="card-img-top" alt="A picture of a road across mountains." src="../static/images/road_in_peak_district.jpeg">
                                {% else %}
                                <img class="card-img-top" alt="A picture of a road climb in the UK." src="{{ climb.featured_image.url}}">
                                {% endif %}
                                </a>
                                <div class="image-flash">
                                    <p class="author">Author: {{ climb.author }}</p>
                                    <p>Image source Pedalsure and Cyclinguphill.</p>
                                </div>
                            </div>
                            <a href="#">
                                <h2 class="card-title">{{ climb.title }}</h2>
                            </a>
                            <p class="card-excerpt">{{ climb.excerpt }}</p>
                            <p class="card-text card-icon"><i class="fa-solid fa-bolt"></i>
                                {{ climb.get_climb_difficulty_display }}</p>
                            <p class="card-text card-icon"><i class="fa-solid fa-road"></i>
                                {{ climb.get_climb_surface_display }}</p>
                            <p class="card-text card-icon"><i class="fa-solid fa-tape"></i>
                                {{ climb.climb_length }}</p>
                            <p class="card-text card-icon"><i class="fa-solid fa-mountains"></i>
                                {{ climb.climb_elevationgain }}</p>
                            <p class="card-text card-icon"><i class="fa-solid fa-crown"></i>
                                {{ climb.climb_KOMQOM }}</p>
                            <hr>
                            <p class="card-text text-muted h6">{{ climb.created_on}}</p>
                            <p class="card-icon">
                                <!-- climb likes count -->
                                <span class="p-1"><i class="fa-solid fa-heart"></i> {{ climb.number_of_likes }}</span>
                                <!-- climb comments count -->
                                {% with climb.comments.count as total_comments %}
                                <span class="p-1"><i class="fa-solid fa-comment"></i> {{ total_comments }}</span>
                                {% endwith %}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% empty %}
                    <h2>UNDER CONSTRUCTION</h2>
                    <p>Sorry, no climbs are in the system as yet. Our admin team is currently assessing the issue and hopefully our data will be back shortly.</p>
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    
</div>
{%endblock%}