{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <!-- climb blog summary card -->
    <div class="container">
        <div class="row g-0 summary-card">
            <div class="col-md-6 masthead-text">
                <h2 class="post-title">{{ climb.title }}</h2>
                <p class="card-text climb-icon"><i class="fa-solid fa-bolt"></i> {{ climb.get_climb_difficulty_display }}.</p>
                <p class="card-text climb-icon"><i class="fa-solid fa-road"></i> {{ climb.get_climb_surface_display }}.</p>
                <p class="card-text climb-icon"><i class="fa-solid fa-tape"></i> {{ climb.climb_length }}/3</p>
                <p class="card-text climb-icon"><i class="fa-solid fa-mountains"></i> {{ climb.climb_elevationgain }}/3</p>
                <p class="card-text climb-icon"><i class="fa-solid fa-crown"></i> {{ climb.climb_KOMQOM }}/3</p>
                <p class="post-date">{{ climb.author }} | {{ climb.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in plant.featured_image.url %}
                <img class="img-responsive" alt="A picture of a road across mountains."
                    src="../static/images/road_in_peak_district.jpeg">
                {% else %}
                <img class="img-responsive" alt="A picture of the featured climb post."
                    src=" {{ plant.featured_image.url }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}